*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    height: 100%; 
    width: 100%;
}

.header{
    height: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-text img{
    height: 70px;
}

.logo-rem-text{
    margin-top: 7px;
    font-size: 35px;
}

.header-items-style{
    padding-right: 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

.header-items a:hover{
    transition: 0.8s;
    font-weight: 600;
}










.hero-section{
    height: 77.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "left right"
    ;
}

.hero-section-left{
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .hero-section-left-sub-div{
    height: 80%;
    padding: 0  40px;   
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    margin-left: 350px;
}

.hero-section-left-sub-div h2{
    color: gray;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
    color:#343d68;
}

.hero-section-sub-heading{
    font-size: 58px;
    margin-bottom: 30px;
}
.role{
    color:#4e45d5;
}

.button{
    background-color: rgb(201, 62, 108);
    color: white;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;  
    position: relative;
    z-index: 0;
}

.button::after{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: all 1s ease;
}

.button:hover::after{
    transform: scaleX(1);
}

.hero-section-right{
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-right-main-div{
    height: 95%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-section-right-sub-div{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10px;
    padding: 2.5rem;
    transition: all 1s;
    filter: grayscale(1);
    animation: scale 4s linear infinite;
}

.cube{
    right: 50px;
    top:  40px;
    animation: rotate 4s linear infinite;
}

.dots{
    right: 50px;
    bottom: 40px;
    animation: translate 4s linear infinite;
}

@keyframes translate{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px)  translateX(30px);
    }
    100%{
        transform: translateY(0px);
    }
}


@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(360deg) translateY(-30px);

    }
    100%{
        transform: rotateY(0deg) translateX(0px);
    }
}

@keyframes scale{
    0%{
        transform: scale(1);
        filter: grayscale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 2px 5px 5px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(1);
    }
}
.logo{
    position: absolute;
}



.sub-Logo{
    height: 14.5%;
    user-select: none;
    font-size: 75px;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(221, 220, 220);
    display: flex;
}